<div class="container">
  <div class="row">
    <% @user.pending_tasks.each_slice(3) do |row| %>
      <% row.each do |todo| %>
        <div class="col">
          <div class="card">
            <%= image_tag todo.todo.photo, class: 'card-img-top' %>
            <div class="body">
              <h5><%= link_to todo.todo.description, todo_path(todo.todo) %></h5>
              <p><%= time_ago_in_words todo.updated_at%></p>

              <% if todo.done? %>
                <p><%= link_to "Listo", pending_task_path(todo.id),method: :patch, class: 'btn btn-primary'%></p>
               <% else %>
                <p><%= link_to "No listo", pending_task_path(todo.id),method: :patch, class: 'btn btn-danger'%></p>
              <%end%>
        </div>
      </div>
    </div>
  <% end %>
  <div class="w-100" style="margin-top:20px"></div>
<% end %>
</div>
</div>
